

.bg-violet{
    background-color: rgba(238, 188, 247, .7);
}

#botonera{
    background-color: rgba(54, 22, 59, 0.7);

}

#botonera img{
    width: 150px;

}

#carouselExampleInterval{
    display: flex;
    transform: translateX(500px);
    width: 300px;
    height: 100%;
    
}

.h1-posicion{
    transform: translateX(370px);

}

.body-color{
    background: rgba(238, 188, 247, .7);
}

.margen-grid{
    padding-top: 2cm;
}

.grid-posicion{
    display: inline-block;
    padding-top: 2cm;
}

.medida-imagen{
    height: 200px;
}

.medida-article{
    width: 75%;
}

.footer-diseño{
    transform: translateY(50px);
    width: 100%;
    height: 100px;
    background: black;
    color: white;
}

.medida-imagen1{
    width: 50px;
    height: 50px;
    transform: translateX(1000px);
}

@keyframes animateDiv{
    0%{width: 60px;}
  25%{width: 50px;}
  50%{width: 50px;}
  75%{width: 50px;}
  100%{width: 50px;}
}

.animate{
    animation-name: animateDiv;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-delay: 1s;
    animation-timing-function: ease-in-out;
}


.medidas-g{
    width: 100%;
    height: 100%;
}

.centrado-h{
    padding-top: 2cm;
    padding-bottom: 2cm;
    text-align: center;
    justify-content: center;
    text-decoration: underline;
    color: rgba(54, 22, 59, 0.7);

    
}


.carouselExampleSlidesOnly{
    display: flex;
    height: 100%;
    width: 100%;
}

 
